@import url('./angle-divs.css');
@import url('./scrollbar.css');
/* 
html {
    margin:0;
    padding: 0;
    overflow: hidden;
    height:100vh;
} */

body {
    /* color: white; */
    background: url('../assets/background.png');
    background-repeat: repeat;
    /* width: 100vw; */
    /* overflow: hidden; */
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Comic Neue', cursive;
    /* font-family: 'Shadows Into Light', cursive; */
}

.hidden {
    display:none;
    margin: 0;
    padding: 0
}

.banner {
  width: 75%;
  min-width: 375px;
  max-width: 1000px
}

.navigation {
  position: absolute;
  bottom:10px;
  right:20px;
  z-index: 1;
}


.offcanvas {
  color: whitesmoke;
  background-color: #333333;
}

footer {
  position:fixed;
  bottom:0;
  background-color: #fde0cd;
  width: 100%;
  height: 57px;
}

.footer-placement {
  text-align: center;
  padding-top: 5px;
}

/* .body {
  overflow-y: scroll;
} */


@media only screen and (max-width: 600px) {
  .body {
    margin-bottom: 80px;
  }
}